<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/seeJobs.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <title>FixThat - Ver meus jobs</title>
</head>
<body>
    <header>
        <a href="/">
            <img src="/images/logo.png" alt="">
        </a>
        <div class="buttons">
            <a class="button" href="/seeJobs">
                <img src="/images/list.svg" alt="Meus jobs">
                Meus jobs
            </a>
            <a class="button" href="/createJob">
                <img src="/images/add.svg" alt="Cadastrar job">
                Cadastrar job
            </a>
        </div>
    </header>

    <main>
        <div id="background">
        </div>

        <div class="mainContent">
            <div class="formWrapper">
                <h2>Ver meus jobs</h2>
    
                <div class="loginForm">
                    <form action="/myJobs" method="POST">
                        <div class="inputsContainer">
                            <input type="number" name="loginCode" placeholder="Código de login"/>
                            <input type="password" name="password" placeholder="Senha"/>
                        </div>
                        <button class="button">Ver jobs</button>
                    </form>
                </div>
            </div>
    
            <div class="cardsContainer">

                <% userJobs.map(job => { %>
                    <div class="jobCard">
                        <div class="cardContent">
                            <div class="cardHeader">
                                <img src="/images/<%= job.area %>.svg" alt="" />
                                <h3><%= job.title %></h3>
                            </div>
    
                            <div class="jobDescription">
                                <strong>Descrição:</strong>
                                <span><%= job.description %></span>
                            </div>
                        </div>
                        <div class="deleteBtnContainer">
                            <form action="/deleteJob/<%=job.user_id%> /<%=job.id%> " method="POST">
                                <button>
                                    <img src="/images/trash.svg" alt="">
                                </button>
                            </form>
                        </div>
                    </div>
                <% }) %>  

                <!-- <div class="jobCard">
                    <div class="cardContent">
                        <div class="cardHeader">
                            <img src="/images/lightning.svg" alt="" />
                            <h3>Efetuo reparos elétricos</h3>
                        </div>

                        <div class="jobDescription">
                            <strong>Descrição:</strong>
                            <span>Conserto problemas de fiação, mau contato e faço instalações elétricas.</span>
                        </div>
                    </div>
                    <div class="deleteBtnContainer">
                        <form action="#">
                            <button>
                                <img src="/images/trash.svg" alt="">
                            </button>
                        </form>
                    </div>
                </div>

                <div class="jobCard">
                    <div class="cardContent">
                        <div class="cardHeader">
                            <img src="/images/brush.svg" alt="" />
                            <h3>Pintura residencial</h3>
                        </div>

                        <div class="jobDescription">
                            <strong>Descrição:</strong>
                            <span>Pinto seu apartamento ou casa, interno ou externo. Caso interessado, o preço poderá ser combinado em mensagem.</span>
                        </div>
                    </div>
                    <div class="deleteBtnContainer">
                        <form action="#">
                            <button>
                                <img src="/images/trash.svg" alt="">
                            </button>
                        </form>
                    </div>
                </div> -->


            </div>
        </div>

    </main>
</body>
</html>